<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOWn5eehs_MupaKHZOv9KI-tGlONAuHiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>572647596772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mentorMatch.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mentor-match-640bc</string>
	<key>STORAGE_BUCKET</key>
	<string>mentor-match-640bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572647596772:ios:cc06ba09fc5f1c51ea02f1</string>
</dict>
</plist>